/* Mobile */

.features {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  text-align: center;
  overflow: hidden;

  &__container {
    max-width: 1200px;
  }

  &__header {
    width: 80%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #8d81ac;
  }

  &__text-separator {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
  }

  &__content {
    padding: 10px 0;

    &-title {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #323232;
      white-space: nowrap;
    }

    &-description {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #848e97;
    }
  }

  &__img {
    & img {
      object-fit: contain;
      max-height: 381px;
    }
  }
}

/* Tablet */

@media only screen and (min-width: 698px) {
  .features__img {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 481px) {
  .features {
    &__header {
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 44px;
    }

    &__content {
      display: flex;
      flex-direction: row;
      padding: 4% 0;

      &-img {
        order: 1;
        min-width: 130px;

        display: flex;
        justify-content: center;
        object-fit: scale-down;
        align-items: center;

        & img {
          max-width: 111px;
        }
      }

      &-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        order: 2;
      }

      &-title {
        margin: 0;
        padding-bottom: 7px;
      }

      &-description {
        text-align: left;
        margin: 0;
        line-height: 21px;
        font-size: 14px;
      }
    }

    &__img {
      & img {
        max-height: 519px;
      }
    }
  }
}

/* Desktop */

@media all and (min-width: 993px) {
  .features {
    margin-top: 30px;
    width: 100%;
    background-color: #f4f4f4;

    &-container {
      max-width: 1200px;
      //width: 93%;
      margin: 50px auto;
      display: grid;
      grid-template-areas:
        "text head"
        "text  pic"
        "text  pic"
        "text  pic";
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 45% 55%;
      grid-gap: 0 1%;
    }

    &__header {
      grid-area: head;
      display: flex;
      align-items: center;
      font-size: 48px;
      line-height: 50px;
      width: 95%;
      justify-content: flex-start;
      //white-space: ;
    }

    &__text-separator {
      justify-content: flex-start;
      max-width: 100%;

      grid-area: text;
    }

    &__content {
      padding: 15px 0 0 0;

      &-img {
        min-width: 150px;
      }

      &-title {
        margin: 10px 0;
      }
    }

    &__img {
      grid-area: pic;
      display: flex;
      justify-content: right;
      align-items: start;

      img {
        max-width: 100%;
        position: relative;
        top: -30px;
      }
    }
  }
}
