/* Mobile */

.sub {
  background-image: url("../../dist/img/people-bg.png");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: calc(100% + 30px);
  margin-top: -15px;

  &__container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100%;
  }

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
  }

  &__grid {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-rows: repeat(4, 457px) /*560px 457px*/;
    grid-template-columns: repeat(1, 257px);
    justify-content: center;
    grid-gap: 5%;

    &__section {
      display: grid;
      grid-template-rows: repeat(5, 20%);
      grid-template-areas:
        "header"
        "price"
        "period"
        "license"
        "btn";
      text-align: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.2s ease-in-out;

      &:nth-child(1) {
        position: relative;
        top: 10%;
      }
      &:nth-child(3) {
        //margin: 11% 0;
        background-color: rgba(70, 48, 72, 0.63);
        transform: scale(1.2);
        transition: all 0.6s ease-in-out;
      }

      &-header {
        background-color: rgba(255, 255, 255, 0.15);
        height: 100%;
        color: white;
        grid-area: header;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-price {
        grid-area: price;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 62px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-self: flex-end;

        & span {
          font-style: normal;
          font-weight: 400;
          font-size: 70px;
          //line-height: 62px;
          align-items: center;

        }
      }

      &-period {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        grid-area: period;
        text-transform: uppercase;
        padding-bottom: 10%;
        position: relative;

        &:after {
          content: "";
          width: 60px;
          height: 5px;
          background-color: #8d81ac;
          border-radius: 5px;
          position: absolute;
          bottom: -30%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-license {
        font-style: initial;
        font-weight: 100;
        font-size: 16px;
        line-height: 32px;
        grid-area: license;
        height: 70%;
      }

      &-btn {
        @include button-style--header;
        background-color: rgba(255, 255, 255, 0.15);
        width: 65%;
        grid-area: btn;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        place-self: center;
        margin-bottom: 25px;
        transition: 0.6s;

        &:hover {
          background: #cecacf;
          color: #7f6d78;
          transition: 0.6s;
        }
      }
    }
  }
}

.violet {
  background-color: #463048;
}

/* Tablet */

@media only screen and (min-width: 481px) {
  .sub {
    &__container {
      padding-top: 59px;
      padding-bottom: 18%;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 44px;
    }

    &__grid {
      display: grid;
      grid-template-rows: repeat(2, 457px);
      grid-template-columns: repeat(2, 50%);
      justify-items: center;
      grid-gap: 5%;
      max-width: 500px;

      &__section {
        width: 100%;
        max-width: 257px;
        &:nth-child(1) {
          position: static;
        }

        &:nth-child(3) {
          margin: 0;
          transform: scale(1.15);
          position: relative;
          right: 7%;
        }
        &-price{
          align-items: center;
          & span {
            font-size: 70px;
            line-height: 90px;
          }

        }

        &-period {
          width: 100%;
        }

        &-license {
          line-height: 18px;
        }
      }
    }
  }
}

/* Desktop */

@media all and (min-width: 993px) {
  .sub {
    &__container {
      padding-top: 0;
      width: 100%;
      padding-bottom: 8%;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 50px;
      margin: 100px auto;
    }

    &__grid {
      width: 95%;
      display: grid;
      grid-template-rows: repeat(1, 460px);
      grid-template-columns: repeat(2, 23%) 1fr 23%;
      grid-gap: 3%;
      max-width: 1100px;

      &__section {
        flex: 2 2 20%;
        max-width: 257px;
        min-width: 209px;
        margin: 0;

        &:nth-child(1) {
          position: static;
        }

        &:nth-child(3) {
          position: static;
        }

        &-price {
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 90px;
          text-transform: uppercase;

          & span {
            font-size: 70px;
            line-height: 90px;
          }
        }

        &-license {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.price {
  font-size: 82px;
  line-height: 90px;
}
