$font-family--Montserrat: "Montserrat", sans-serif;
$font-family--Lato: "Lato", sans-serif;

$mainCol: #8d81ac;
$mainCol--light: #ffffff;

$nav-bgCol: #27262a;
$menu-bgCol: #333333;

$version-fontCol: #848e97;

$textCol--light: #848e97;
